<h1>Admin page</h1>

<form action="/login" method="POST">
	Username <input type="text" name="txtUsername" id="txtUsername"><br/>
	Password <input type="password" name="txtPassword" id="txtPassword"> <br/>
	<br/><br/>
	<input type="submit" value="Login">
</form>
